@import '../../assets/style/constants';
@import '../../assets/style/mixins';

.purchase-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  background: white;

  &__title {
    margin-bottom: 1em;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }

  &__items {

  }

  &__item {

  }

  &__return {
    align-self: flex-start;
    height: 3em;
    font-size: .9rem;
    @include primaryButton;
  }
}
