@import '../../assets/style/constants';
@import '../../assets/style/mixins';

.purchase-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background: white;

  &__title {
    margin-bottom: 1.5em;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }

  &__items {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2em;
  }

  &__return {
    align-self: flex-start;
    height: 3em;
    font-size: .9rem;
    @include primaryButton;
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .purchase-history {
    width: 100%;
    padding-bottom: 3em;

    &__items {
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .purchase-history {
    &__title {
      text-align: center;
    }

    &__return {
      align-self: center;
    }
  }
}
