$colorPrimary: #f97242;
$colorSecondary: #59aaf1;
$colorBlack: #262626;
$colorWhite: #f0f5f8;

$gradientPrimary: linear-gradient(0deg, rgba($colorPrimary, .6) 0%, $colorPrimary 100%);
$gradientGray: linear-gradient(0deg, rgba($colorWhite, .5) 0%, $colorWhite 100%);

$transitionStandard: .2s ease-in-out;

$tabletBreakpoint: 900px;

$mobileBreakpoint: 600px;
