@import 'constants';
@import 'mixins';

body {
  background: white;
  font-size: 1rem;
  color: $colorBlack;
  @include font('Montserrat');

  &.is-blocked {
    //overflow-y: hidden;
  }
}

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

#root {
  height: 100%;
}

@media screen and (max-width: $smallDesktopBreakpoint) {
  .wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
