@import '../../assets/style/constants';
@import '../../assets/style/mixins';

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  background: white;

  &__title {
    margin-bottom: 1em;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }

  &__details {
    margin-bottom: 2em;
  }

  &__city-and-zip {
    display: flex;
    justify-content: space-between;
  }

  &__name,
  &__street,
  &__city,
  &__zip,
  &__phone {
    margin-bottom: 1em;
  }

  &__city {
    flex: 1;
    margin-right: 1em;
  }

  &__zip {
    max-width: 6em;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__return {
    height: 3em;
    font-size: .9rem;
    @include secondaryButton;
  }

  &__order {
    height: 3em;
    font-size: .9rem;
    @include primaryButton;
  }
}
