@import '../../assets/style/constants';
@import '../../assets/style/mixins';

.header {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  border-bottom: 1px solid #ddd;
  background: white;
  font-size: .9rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__menu-icon {
    display: none;
  }

  &__mobile-menu {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
  }

  &__account {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__purchases {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2em;
    cursor: pointer;
    @include notClickable;

    @include hoverAndActive {
      color: $colorPrimary;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1.5em;
    padding: .1em 0 0 0;
    font-size: 1.75em;
    text-transform: uppercase;
    white-space: nowrap;
    @include font('Intro');
    @include notClickable;

    & span {
      border-bottom: .2em solid $colorBlack;
    }

    @include hoverAndActive {
      & span {
        border-color: $colorPrimary;
        color: $colorPrimary;
        transition: all $transitionStandard;
      }
    }
  }

  &__currency-and-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__currency {
    display: flex;
    margin-left: auto;
    font-size: .9em;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5em;
      height: 2.5em;
      margin-left: .25em;
      border-radius: .5em;
      cursor: pointer;
      @include notClickable;

      &.is-active {
        cursor: default;
        background: $gradientGray;
      }

      @include hoverAndActive {
        background: $gradientGray;
      }
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    height: 2.5em;
    background: $gradientPrimary;
    margin-left: 1.5em;
    border-radius: .5em;
    padding: 0 .5em 0 1em;
    color: white;
    cursor: pointer;
    @include notClickable;

    &-title,
    &-count {
      display: flex;
      align-items: center;
      height: 1.25em;
    }

    &-title {
      padding-right: .5em;
    }

    &-count {
      justify-content: center;
      width: 2em;
      border-left: 1px solid rgba(white, .75);
    }

    @include hoverAndActive {
      opacity: .75;
    }
  }
}
