@import '../../assets/style/constants';
@import '../../assets/style/mixins';

.frame {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  padding: 2em 2em 4em 2em;
  opacity: 0;
  visibility: hidden;
  text-align: center;

  &.is-visible {
    z-index: 9000;
    opacity: 1;
    visibility: visible;
    background: rgba($colorBlack, .8);
    transition: all $transitionStandard;
  }

  &__content {
    display: inline-block;
    z-index: 9010;
    min-height: 20em;
    margin: 2rem auto;
    box-shadow: 0 0 1em $colorBlack;
    border-radius: 1em;
    padding: 2em;
    background: white;
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .frame {
    top: 2.7rem;
    padding: 0;

    &__content {
      display: block;
      min-height: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      padding: 2em 1em;
    }
  }
}
